<footer class="footer">
    <!-- 品质保障，私人定制等-->
    <div class="text-center rights container">
        <div class="col-md-offset-2 col-md-2">
            <span class="fa fa-thumbs-o-up"></span>
            <p>品质保障</p>
        </div>
        <div class="col-md-2">
            <span class="fa fa-address-card-o"></span>
            <p>私人订制</p>
        </div>
        <div class="col-md-2">
            <span class="fa fa-graduation-cap"></span>
            <p>专属特供</p>
        </div>
        <div class="col-md-2">
            <span class="fa fa-bitcoin"></span>
            <p>专属特权</p>
        </div>
    </div>
    <!--联系我们、下载客户端等-->
    <div class="container beforeBottom">
        <div class="col-md-offset-1 col-md-3">
            <div><img src="../images/index/stumalllogo.png" alt="" class="footLogo" /></div>
            <div><img src="../images/index/footerFont.png" alt="" /></div>
        </div>
        <div class="col-md-4 callus text-center">
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="#">
                            <p>买家帮助</p>
                        </a>
                    </li>
                    <li><a href="#">新手指南</a></li>
                    <li><a href="#">服务保障</a></li>
                    <li><a href="#">常见问题</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="#">
                            <p>商家帮助</p>
                        </a>
                    </li>
                    <li><a href="#">商家入驻</a></li>
                    <li><a href="#">商家后台</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="#">
                            <p>关于我们</p>
                        </a>
                    </li>
                    <li><a href="#">联系我们</a></li>
                    <p></p>
                    <li>
                        <span class="fa fa-wechat"></span>
                        <span class="fa fa-weibo"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <p>电脑商城客户端</p>
                <img src="../images/index/ios.png" class="lf">
                <img src="../images/index/android.png" alt="" class="lf" />
            </div>
        </div>
    </div>
    <!-- 页面底部-备案号 #footer -->
    <div class="col-md-12 text-center bottom">
        Copyright © 2022 All Rights Reserved By Year21 <a target="_blank" href="http://year21.top/">---> 跳转至个人博客</a>
    </div>
</footer>